<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-body>
    <ion-text>
      Este projeto uma busca colaborar com o aprendizado de Teoria da Computação unificando fontes e trazendo conteúdo
      de forma mais visual e moderna.
    </ion-text>
  </ion-body>

</ion-content>