<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      Este projeto uma busca colaborar com o aprendizado de Teoria da Computação unificando fontes e trazendo conteúdo
      de forma mais moderna e colaborativa
    </ion-item>
    <ion-item>
      <a href="https://github.com/vyk1/resumo-teoria-da-computacao" target="_blank" rel="noopener noreferrer">
        Contribuições? Clique aqui ❤️
      </a>
    </ion-item>
  </ion-card>

</ion-content>